html, body, #root>div {
    height: 100% !important
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    padding-right: 0 !important;
    overflow: visible !important;
}